
<form class="edit-category remove-open-form" ng-submit="vm.editCategory($event, category)" name="solmik_category" >
    <div id="solmik_category">
        <div>                
            <label for="solmik_category_name" class="required">Name</label>
            <input type="text" ng-model="category.name" id="solmik_category_name" name="solmik_category[name]" required="required"/>
        </div>
        <div>                
            <label for="solmik_category_public">Public</label>
            <input type="checkbox" ng-model="category.public" id="solmik_category_public" name="solmik_category[public]"/>
        </div>
        <div>
            <button type="submit" id="solmik_category_save" name="solmik_category[save]">Save</button>
        </div>
    </div>
</form>