<!DOCTYPE html>
<html>
    {% set bPath = 'bundles/mkoxsolmik/' %} {# bundle path in web folder #}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset(bPath ~ 'dist/css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="page-wrapper">
            <header>
                {% block header %}{% endblock %}
            </header>
            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
{% block javascripts %}
    <script src="{{ asset(bPath ~ 'js/libs/require/require-2.1.15.js') }}" type="text/javascript" data-main="{{ asset(bPath ~ 'dist/js/solmi') }}"></script>
{% endblock %}
</body>
</html>